

<p id="notice"><%= notice %></p>

<h3>Your Bookings</h3>
<div class="align">
  <table>
    <thead>
      <tr>
        <th>Listing</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= image_tag claim.listing.motorhome.uploaded_image, class: 'avatar' %></td>
          <% if claim.approved == true %>
            <td>Your Booking Was Approved!</td>
            <td><%= link_to 'Pay For Booking', "https://www.youtube.com/watch?v=QabOws88zD4" %></td>
          <% else %>
            <td>Your Booking Is Waiting For Approval...</td>
            <td><%= link_to 'Cancel Booking', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>