/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */


 @font-face {
    font-family: "York";
    src: url(asset-path('yorkwhiteletter.ttf')) format('truetype');
  }

 body {
     margin: 0px;
     background: url('https://i.imgur.com/cySiiyH.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

 h3 {
    font-family: "York";
    font-size: 3em;
    text-align: center;
    color: white;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    padding-top: 0.23em
}

 a {
     text-decoration: none;
     color: white
 }
.spacer {
    width: 20%;
}

 .nav-container {
      width: 100vw;
      height: 80px;
      background-color: #000000;
      opacity: 1.0;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      font-size: 21px;

  }

 .nav-container > a {
     color: #FFFFFF;
 }

 .nav-container > a:hover {
     color: rgb(100, 85, 255);
 }

.nav-item {
   color: white;
 }

 table {
    background: rgba(10, 10, 10, 0.5);
 }
 form {
    background: rgba(10, 10, 10, 0.5);
    padding: 2em;
 }
 .align {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     background: rgba(10, 10, 10, 0.5);


 }
 .align-no-bg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}



 .dropdown {
  float: left;
  overflow: hidden;
  font-size: 16px;
}

.dropdown .dropbtn {
  font-size: 21px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: rgb(100, 85, 255);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: rgb(100, 85, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}



// Home/Index CSS

.child-page-listing {
  background: rgba(10, 10, 10, 0.5);
}

img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

/* hover styles */
.motorhome-listing {
  position: relative;
}

.motorhome-image {
  line-height: 0;
  overflow: hidden;
  border-radius: 25px;
}

.motorhome-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.motorhome-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  color: black !important;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.motorhome-listing:hover .motorhome-title {
  opacity: 1;
  border-radius: 25px;
}

.motorhome-listing:hover .motorhome-image img {
  filter: blur(4px);
}


/* for touch screen devices */
@media (hover: none) {
  .motorhome-title {
    opacity: 1;
  }
  .motorhome-image img {
    filter: blur(2px);
  }
}
